/* App.css */

.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  .court {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #0c5da5;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .basket {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .ball {
    width: 30px;
    height: 30px;
    background-color: #ff5733;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  /* Ball in Basket */
  .basket.ball-in {
    transform: scale(1.1); /* Scale the basket when the ball is in */
  }
  
  .ball.in-basket {
    transform: translateY(-200px); /* Move the ball inside the basket */
  }
  
  .ball.miss-basket {
    transform: translateY(-80px); /* Move the ball inside the basket */
  }
  

  .backboard {
    background-color: red;
    width: 100px;
  }